@media (max-width: 1200px) {
  #block-views-sliders-block {
    .views-field-field-image {
      .field-content {
        &::after {
        }
      }
      img {
      }
    }
    .views-field-field-category {
    }
    .views-field-title {
        font-size: 20px;
        margin: 5px 0 15px 0;

      a {
      }
    }
    .views-field-body {
    }
    .flex-control-nav {
      li {
      }
    }
  }
}

@media (max-width: 991px) {
  #block-views-sliders-block {
    .views-field-field-image {
      //margin-right: 0;
      //width: 100%;
      .field-content {
        &::after {
        }
      }
      img {
        //width: 100%;
      }
    }
    .views-field-field-category {
    }
    .views-field-title {
      a {
      }
    }
    .views-field-body {
    }
    .flex-control-nav {
      li {
      }
    }
  }
}

@media (max-width: 990px) {
  .presentation-block {
    .carousel-inner {
      .carousel-caption {
        padding-bottom: 25px;
      }
      h2 {
        margin-bottom: 25px;
      }
      p {

      }
    }
  }
  #block-views-sliders-block {
    .views-field-field-image {
      margin-right: 0;
      float: none;
      width: 100%;
      border-right: none;
      .field-content {
        &::after {
          display: none;
        }
      }
      img {
        width: 100%;
      }
    }
    .views-field-field-category {
    }
    .views-field-title {
      a {
      }
    }
    .views-field-body {
    }
    .flex-control-nav {
      top: 0;
      li {
      }
    }
  }
}

@media (max-width: 970px) {
  #block-views-sliders-block {
    .views-field-field-image {

      .field-content {
        &::after {
        }
      }
      img {
      }
    }
    .views-field-field-category {
    }
    .views-field-title {
      a {
      }
    }
    .views-field-body {
    }
    .flex-control-nav {
      li {
      }
    }
  }
}

@media (max-width: 767px) {
  #content {
    padding: 0 15px;
  }

  .node {
    .field-name-field-image {
      .field-item {
        width: 100% !important;
      }
      img {
        width: 100%;
      }
    }
    .field-name-body {
    }
  }

  .view-articles.latest-articles {
    .views-row {
    }
    .views-field-field-image {
      img {
        width: 100%;
      }
    }
    .views-field-title {
      h4 {
        a {
        }
      }
    }
  }
  .footer {
    li {
      display: inline-block;
    }
    .copyright {
      text-align: center;
    }
    .region-footer {
      .addresse {
        float: none;
        text-align: center;
      }
      .block-menu {
        display: block;
        text-align: center;
      }
    }
  }
  .presentation-block {
    .carousel-inner {
      .carousel-caption {
        padding-bottom: 20px;
        bottom: 15px;
      }
      h2 {
        font-size: 34px;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  #block-views-sliders-block {
    .views-field-field-image {
      float: none;
      width: 100%;
      margin-right: 0;
      .field-content {
        &::after {
        }
      }
      img {
        width: 100%;
      }
    }
    .views-field-field-category {
    }
    .views-field-title {
      a {
      }
    }
    .views-field-body {
    }
    .flex-control-nav {
      top: 0;
      margin-top: 5px;
      li {
      }
    }
  }
  .main-block {
    a {
    }
    img {
    }
    .main-caption {
    }
    h2 {
      left: 26px;
      font-size: 14px;
    }
    p {
      font-size: 16px;
    }
  }

}

@media (max-width: 682px) {
  .presentation-block {
    .carousel-inner {
      .carousel-caption {
        padding-bottom: 15px;
        bottom: 10px;
      }
      h2 {
        font-size: 32px;
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

@media (max-width: 680px) {
  .presentation-block {
    .carousel-inner {
      .carousel-caption {
        padding-bottom: 15px;
        bottom: 0;
      }
      h2 {
        font-size: 32px;
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

@media (max-width: 610px) {
  .presentation-block {
    .carousel-inner {
      .carousel-caption {
        padding-bottom: 10px;
        bottom: 10px;
      }
      h2 {
        font-size: 30px;
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

@media (max-width: 530px) {
  .presentation-block {
    .carousel-inner {
      .carousel-caption {
        padding-bottom: 5px;
        bottom: 5px;
      }
      h2 {
        font-size: 28px;
        margin-bottom: 15px;
      }
      p {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
  .main-block {
    a {
    }
    img {
    }
    .main-caption {
    }
    h2 {
      left: 24px;
      font-size: 12px;
      max-width: 80%;
    }
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 490px) {
  .presentation-block {
    .carousel-inner {
      .carousel-caption {
        left: 5%;
        right: 5%;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 5px;
      }
      p {
        font-size: 10px;
        line-height: 8px;
      }
    }
  }
}

@media (max-width: 460px) {
  .presentation-block {
    .carousel-inner {
      .carousel-caption {
        padding-bottom: 5px;
        bottom: 5px;
      }
      h2 {
        font-size: 19px;
        margin-bottom: 4px;
      }
      p {
        font-size: 9px;
      }
    }
  }
}

@media (max-width: 400px) {
  .presentation-block {
    .carousel-inner {
      .carousel-caption {
        padding-bottom: 5px;
        bottom: 0;
      }
      h2 {
        font-size: 18px;
        margin-bottom: 1px;
      }
      p {
        font-size: 9px;
      }
    }
  }
}
