$bgDefault: #003a5a;
$bgHighlight: #016388;
$colDefault: #ffffff;
$colHighlight: #eeeeee;
$dropDown: true;

.navbar {
  border: none;
  .logo {
    padding-right: 35px;
  }
}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
}

.nav > li > a,
.nav > li > span.nolink {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    font-size: 12px;
    > li {
      > a,
      > span.nolink {
        color: $colDefault;
        padding-top: 27px;
        padding-bottom: 26px;
        text-transform: uppercase;
        font-weight: bold;
        @include transition(background-color 0.5s linear);

        &:hover, &:focus {
          color: $colHighlight;
          //opacity: 0.9;
        }
      }
      @if $dropDown {
        .dropdown-menu {
          //opacity: 0.9;
          background-color: $bgHighlight;
          border: none;
          @include border-radius(0);
          > li > a,
          > li > span.nolink {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: $colDefault;
            &:hover, &:focus {
              color: $colHighlight;
              background-color: transparent;
            }
          }
          .divider {
            background-color: $bgHighlight;
          }
          > .active {
            a {
              background: transparent;
              //              &:hover,
              //              &:focus {
              //                background: transparent;
              //              }
            }
          }
        }
      }
      //      &:hover.
    }
    > .active,
    > :hover,
    > .active-trail {
      //      background-color: $bgHighlight;
      > a, > a:hover, > a:focus,
      > span.nolink, > span.nolink:hover, > span.nolink:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    //    > :hover {
    //
    //    }
    .open {
      background-color: $bgHighlight;
      //opacity: 0.9;
      > a, > a:hover, > a:focus,
      > span.nolink, > span.nolink:hover, > span.nolink:focus {
        color: $colHighlight;
        background-color: transparent;
        border: none;
      }
    }
    &.secondary {
      position: relative;
      top: 35px;
      background-color: $bgHighlight;
      a, span.nolink {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .secondary {
    float: none !important;
    top: 0 !important;
    a, span.nolink {
      display: block;
    }
  }

  .navbar-default {
    .navbar-nav {
      > li {
        > a,
        > span.nolink {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      .open {
        .dropdown-menu {
          > li > a,
          > li > span.nolink {
            color: $colDefault;
            &:hover, &:focus {
              color: $colHighlight;
            }
          }
          > .active {
            > a, > a:hover, > a:focus,
            > span.nolink > span.nolink:hover, > span.nolink:focus {
              color: $colHighlight;
              background-color: $bgHighlight;
            }
          }
        }
      }
    }
  }
}
