
.view-articles.latest-articles {
  .views-row {
    margin-bottom: 30px;
  }
  .views-field-field-image {
    img {
      //      border: 1px solid #ccc;
    }
  }
  .views-field-title {
    h4 {
      a {
        font-size: 17px;
        font-weight: bold;
      }
    }
  }
}

.view-taxonomy-term,
.view-press-release
{
  .views-row {
    margin-bottom: 30px;
  }
  .left-data {
    float: left;
    margin: 0 15px 15px 0;
  }
  .views-field-changed {
    //    float: left;
    margin-bottom: 10px;
    .hour {
      margin-bottom: 1em;
      background: url("../images/bg-date.png") 0 0 no-repeat transparent;
      font-family: "Helvetica Neue hvcn", sans-serif;
      font-size: 11px;
      height: 59px;
      padding-right: 6px;
      text-align: center;
      width: 72px;
      line-height: 1.625;
      span {
        padding-top: 15px;
        display: block;
        font-family: "Helvetica Neue hvcn", sans-serif;
        font-size: 18px;
      }
      &.black {
        color: #282E32;
      }
    }
    .date {
      background: url("../images/bg-date.png") 0 0 no-repeat transparent;
      font-family: "Helvetica Neue cn", sans-serif;
      font-size: 11px;
      height: 59px;
      padding-right: 6px;
      text-align: center;
      width: 72px;
      text-transform: uppercase;
      line-height: 1.625;
      span {
        display: block;
        font-size: 36px;
        font-family: "Helvetica Neue hvcn", sans-serif;
        height: 67%;
      }
      &.black {
        color: #282E32;
      }
    }
  }
  .views-field-field-attachment {
    float: none;
    text-align: center;
  }
  .views-field-title {
    //margin-left: 80px;
    h2 {
      margin-top: 0;
      font-size: 22px;
    }
    a {

    }
  }
  .views-field-body {
    //margin-left: 80px;
    font-size: 12px;
    .views-more-link {
    }
  }
}

.view-taxonomy-term {
  .views-field-field-attachment {
    float: left;
    margin: 0 15px 15px 0;
  }
}
