.sub-menu-wrapper {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
#block-menu-menu-submenu {
  ul.menu {
    margin: 0;
    list-style: none;
    padding-left: 0;
    li {
      list-style: none;
      list-style-image: none;
      float: left;
      a {
        color: #000;
        &:hover {
          color: #666;
          background-color: transparent;
        }
      }
    }
  }
}
