.view-id-front {
  .row {
    margin-bottom: 15px;
  }
  .views-field-field-image {
    margin-bottom: 10px;


  }
  .views-field-title {
    margin-bottom: 10px;
    font-family: "Trade Gothic", Arial, sans-serif;
    font-size: 17px;
    a {
      color: #4f4f4f;
    }

  }
  .views-field-field-price {
    margin-bottom:10px;
    font-size: 26px;
    color: #9d9338;

  }
  .views-field-field-best-seller-text {
    margin-bottom: 10px;
    font-size: 16px;

  }
  //stars
  .views-field-nothing {
    margin-bottom: 10px;
    font-size: 16px;

  }
}
