.view-id-front {
  .row {
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  .views-field-field-image {
    margin-bottom: 10px;
    img {
      //margin: 0 auto;
    }
  }
  .views-field-title {
    margin-bottom: 10px;
    font-family: "Trade Gothic", Arial, sans-serif;
    font-size: 15px;
    a {
      color: #4f4f4f;
    }
  }
  .views-field-field-price {
    margin-bottom:10px;
    font-size: 20px;
    color: #9d9338;
  }
  .views-field-field-best-seller-text {
    margin-bottom: 10px;
    font-size: 16px;

  }
  //stars
  .views-field-nothing {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 19px;
    vertical-align: middle;
    .arrow {
      font-size: 7px;
      color: #555;
      position: relative;
      top: -2px;
    }
    }
    .stars-wrapper {
      padding: 2px;
    }
  .count {
    //position: relative;
    //top: -2px;
  }
}
