@import "compass";
@import "compass/css3";

@font-face {
  /* header #3 (Bold) */
  font-family: "Helvetica Neue hvcn";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/helveticaneueltstd-hvcn-webfont.eot");
  src: url("../fonts/helveticaneueltstd-hvcn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-hvcn-webfont.woff") format("woff"), url("../fonts/helveticaneueltstd-hvcn-webfont.ttf") format("truetype"), url("../fonts/helveticaneueltstd-hvcn-webfont.svg#helvetica_neue_lt_std87HvCn") format("svg");
}

body, input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#admin-menu {
  font-size: 12px;
}

@import "blocks";
@import "views";
@import "media";
