@import "compass";
@import "compass/css3";

$url-color: #1a61c6;
$price-color: #aa2a00;
$grey-color: #555555;
$green-color: #298c00;
//$orange-color: #dd7c00;
$header-bg-color: #9d9338;
$best-bg-color: #dd7c00;
$subheader-color: #cc6600;
$footer-link-color: #ddd79e;

$select-color-1: #292929;
$select-color-2: #a40912;
$select-color-3: #64b714;
$select-color-4: #234171;
$select-color-5: #fffd91;
$select-color-6: #8724e3;




@font-face {
  /* header #3 (Bold) */
  font-family: "Helvetica Neue hvcn";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/helveticaneueltstd-hvcn-webfont.eot");
  src: url("../fonts/helveticaneueltstd-hvcn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-hvcn-webfont.woff") format("woff"), url("../fonts/helveticaneueltstd-hvcn-webfont.ttf") format("truetype"), url("../fonts/helveticaneueltstd-hvcn-webfont.svg#helvetica_neue_lt_std87HvCn") format("svg");
}

body, input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#admin-menu {
  font-size: 12px;
}


.node-type-product {
  .product-data {
    margin-bottom: 15px;
  }
  .cloud-zoom-container {
    margin-bottom: 20px;
    #wrap {
      float: right !important;
    }
    .mousetrap {
      display: inherit !important;
    }
    .cloud-zoom-gallery-thumbs {
      clear: none;
      float: none !important;
      .cloud-zoom-gallery {
        border: 1px solid #5b5b5b;
        display: inline-block;
        float: none;
        margin: 5px 0;
      }
    }
  }
}

@import "blocks";
@import "views";
@import "media";
