body, input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#admin-menu {
  font-size: 12px;
}

a {
  color: #1a61c6;
}

.todo {
  border: 1px solid red;
  display: inline-block;
  padding: 2px;
}

.navbar {
  margin-bottom: 0;
}

.menu .shop-card {
  background: url(../images/shoping_cart-25.png) transparent 90% 50% no-repeat;
  padding-right: 30px;
}

.navbar-nav > li > a {
  font-size: 15px;
}

.navbar #block-search-form {
  float: none !important;
}
.navbar #block-search-form .btn-primary {
  background-color: #dfd8a4;
  border-color: #dfd8a4;
}

.logo {
  border: none !important;
}
.logo img {
  border: none !important;
}

.left-sidebar .region {
  border-right: 1px solid #e5e5e5;
}

.stars {
  width: 86px;
  height: 15px;
  position: relative;
  background-image: url(../images/stars.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}

.field-name-field-best-seller-text {
  background-image: none !important;
  border-radius: 3px 0 0 3px;
  color: #fff;
  font-style: normal;
  position: relative;
  top: 1px;
  margin-right: 4px;
  background-color: #9d9338;
  font-size: 12px;
  padding: 7px;
  line-height: 14px;
  font-weight: 400;
  display: inline-block;
}
.field-name-field-best-seller-text:before {
  bottom: 0;
  border-style: dashed dashed solid;
  border-top: 0 dashed rgba(255, 255, 255, 0);
  border-right: 8px dashed rgba(255, 255, 255, 0);
  border-left: 8px dashed rgba(255, 255, 255, 0);
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  transform: translate3d(0px, 0px, 0px);
  content: "";
  position: absolute;
  border-bottom-color: #9d9338 !important;
  right: -8px;
  border-width: 0 8px 14px;
}
.field-name-field-best-seller-text:after {
  border-top-color: #9d9338 !important;
  top: 0;
  border-width: 14px 8px 0 11px;
  border-right: 8px dashed rgba(255, 255, 255, 0);
  border-bottom: 0 dashed rgba(255, 255, 255, 0);
  border-left: 11px dashed rgba(255, 255, 255, 0);
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  transform: translate3d(0px, 0px, 0px);
  content: "";
  position: absolute;
  right: -8px;
  border-style: solid dashed dashed;
}

.node-type-product .cloud-zoom-container {
  margin-bottom: 20px;
}
.node-type-product .cloud-zoom-container #wrap {
  float: right !important;
}
.node-type-product .cloud-zoom-container .mousetrap {
  display: inherit !important;
}
.node-type-product .cloud-zoom-container .cloud-zoom-gallery-thumbs {
  clear: none;
  float: none !important;
}
.node-type-product .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery {
  display: block;
  float: none;
  margin: 5px 0;
}
.node-type-product .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery img {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.node-type-product .roll-over {
  text-align: center;
}
.node-type-product .product-data,
.node-type-product .field-name-field-price,
.node-type-product .field-name-field-product-description,
.node-type-product .rate,
.node-type-product .field-name-body,
.node-type-product .field-name-field-product-details,
.node-type-product .field-name-field-from-the-manufacturer,
.node-type-product .field-name-field-best-seller-text {
  margin-bottom: 15px;
}
.node-type-product .page-header {
  font-size: 21px;
  line-height: 1.3;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  margin-bottom: 0;
  border-bottom: none;
}
.node-type-product .field-name-field-price .field-label {
  color: #000;
  margin-bottom: 0;
  line-height: 26px;
}
.node-type-product .field-name-field-price .field-items {
  font-size: 26px;
  font-weight: bold;
  color: #9d9338;
}
.node-type-product .field-label {
  font-size: 16px;
  color: #9d9338;
  font-weight: bold;
  margin-bottom: 5px;
}
.node-type-product .field-name-body,
.node-type-product .field-name-field-product-details {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}
.node-type-product .rate {
  font-size: 13px;
  line-height: 19px;
}
.node-type-product .add-to-card-wrapper {
  text-align: center;
}
.node-type-product .add-to-card-wrapper .btn {
  background: url(../images/shoping_cart-35.png) transparent 95% 50% no-repeat;
  background-color: #9d9238;
  padding: 15px 40px 15px 15px;
  text-transform: uppercase;
  color: #fff;
}

.pager a {
  color: #ddd79e;
}
.pager li > a,
.pager li > span {
  background-color: #9d9238;
}
.pager li > a:hover, .pager li > a:active, .pager li > a:focus,
.pager li > span:hover,
.pager li > span:active,
.pager li > span:focus {
  background-color: #9d9238;
  color: #fff;
}

.footer {
  background-color: #9d9238;
  width: 100% !important;
  margin-top: 0;
}
.footer .block {
  margin-bottom: 15px;
}
.footer .block-title {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}
.footer .menu a {
  color: #ddd79e;
  padding: 5px 3px 3px 0;
}
.footer .menu a:hover {
  color: #fff;
  background: none transparent;
}

.navbar-default {
  background-color: #9d9338;
  border-color: #9d9338;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #9d9338;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #9d9338;
}
.navbar-default .navbar-toggle {
  border-color: #9d9338;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #9d9338;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #9d9338;
  }
}
.block {
  margin-bottom: 15px;
}

.sub-menu-wrapper {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
}

#block-menu-menu-submenu {
  margin-bottom: 0;
}
#block-menu-menu-submenu ul.menu {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
#block-menu-menu-submenu ul.menu li {
  list-style: none;
  list-style-image: none;
  float: left;
}
#block-menu-menu-submenu ul.menu li a {
  color: #000;
  font-size: 15px;
}
#block-menu-menu-submenu ul.menu li a:hover {
  color: #666;
  background-color: transparent;
}

#block-block-15 .block-title {
  color: #999;
  font-size: 17px;
  padding-top: 6px;
}
#block-block-15 ul {
  padding: 0;
}
#block-block-15 li {
  list-style: none;
  list-style-image: none;
  font-size: 12px;
}
#block-block-15 li a {
  color: #2b3b50;
}

#block-block-16 .views-exposed-widget {
  margin-bottom: 15px;
}
#block-block-16 .views-exposed-widget input {
  margin-right: 5px;
}
#block-block-16 .colors {
  margin-bottom: 15px;
}
#block-block-16 .colors span {
  display: inline-block;
  width: 16px;
  height: 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#block-block-16 .color-1 {
  background-color: #292929;
}
#block-block-16 .color-2 {
  background-color: #a40912;
}
#block-block-16 .color-3 {
  background-color: #64b714;
}
#block-block-16 .color-4 {
  background-color: #234171;
}
#block-block-16 .color-5 {
  background-color: #fffd91;
}
#block-block-16 .color-6 {
  background-color: #8724e3;
}
#block-block-16 label {
  font-size: 12px;
}
#block-block-16 .option {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
}
#block-block-16 .form-group {
  margin-bottom: 0;
}

.view-id-front .row {
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.view-id-front .views-field-field-image {
  margin-bottom: 10px;
}
.view-id-front .views-field-title {
  margin-bottom: 10px;
  font-family: "Trade Gothic", Arial, sans-serif;
  font-size: 17px;
}
.view-id-front .views-field-title a {
  color: #4f4f4f;
}
.view-id-front .views-field-field-price {
  margin-bottom: 10px;
  font-size: 26px;
  color: #9d9338;
}
.view-id-front .views-field-field-best-seller-text {
  margin-bottom: 10px;
  font-size: 16px;
}
.view-id-front .views-field-nothing {
  margin-bottom: 10px;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .footer .row {
    width: 1170px;
    margin: 0 auto;
  }
}
